agm-map{
    height: 600px;
}
.form-group{
    width: 60%;
    margin: 0 auto;
}
.form-group input{
    margin-top: 10px; 
}
.form-group button{
    margin-top: 10px;
}
.grpOfbtn button{
    margin: 10px;
}
.hide{
    display: none;
}
#colorBtns .btn{
    border-radius: 35px;
    height: 25px;
    width: 21px;
    margin-right: 5px;
    margin-left: 12px;
}

#colorBtns{
    margin: 0px 0px 5px 0px;
}
#colorBtns span{
    background-color: lightskyblue;
    padding: 10px 10px 10px 10px;
}